*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
}

#nav-prt2{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;

}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#nav user{
    font-size: 20px;
    padding-right: 20px;
}

#nav h5{
    font-size: 15px;
    text-transform: capitalize;
}

#nav img{
    height: 150px;
    align-content: center;
}

#content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: space-between;
    position: relative;
}


#left{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    color: white;
    font-family: 'Dela Gothic One', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 150px 70px;
}

#right{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 250px  100px;
}

#center{
    width: 28%;
    height: 100%;
    /* background-color: white; */
    padding-top: 15px;
}

#left h1{
    font-size: 30px;
    line-height: 45px;
    font-style: italic;
    margin-bottom: 30px;
    transition-property: line-height,font-size;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* transition-delay: 1s; */
}
#left h1:hover{
    font-size: 45px;
    line-height: 55px;
}
#left h1 span{
    color: greenyellow;
}

#left button{
    background-color: white;
    padding: 20px 30px;
    font-size: 20px;
    font-family: 'Dela Gothic One', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 1000;

}

#center-bg{
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    background-image: url(https://img.freepik.com/premium-vector/abstract-green-light-speed-dynamic-black-technology-futuristic-background-vector-illustration_33869-2704.jpg);
    background-size: 100%;
}

#content>img{
    height: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;
    /* transition-delay: 1s; */
}
#content>img:hover{
    height: 100%;
}

#right-elems{
    /* background-color: red; */
    width: 300px;
    color: white;
    font-size: 10px;
    width: 350px;
    
}

#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* background-color: cyan; */
    border-bottom: 1px solid white;
}

#elem1 h1{
    font-size: 18px;
    font-weight: 600;
}

#elem1 i{
    font-size: 18px;
}

#elem2 h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}

#elem2 p{
    font-size: 12px;
    width: 80%;
}